{% extends 'chat/_base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            {% for room in rooms %}
                <div class="room card p-2">
                    {{room.name}} 
                    <a href="{% url 'chat:room' room.id %}" class="btn btn-primary">Join</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-8 d-none d-lg-block"></div>
    </div>
</div>
{% endblock %}